p {
    font-family: 'Josefin Sans';
}

.overview-cont {
    padding: 45px 0;
}

.overview-cont p {
    font-family: 'Josefin Sans';
    font-weight: 400;
    margin: 0;
    font-size: 17px;
    text-align: center;
}

.text-footer-link {
    padding-right: 27px;
}

form.form-inline.footer-form button:focus {
    border-color: #aaaaaa;
}

.ftr-head ul li {
    list-style: none;
}

.contactform textarea {
    width: 100%;
    min-height: 85px;
    text-transform: uppercase;
    border-color: #ddd;
    padding: 5px 10px;
    font-size: 14px;
    font-family: 'Josefin Sans';
    font-weight: 600;
}

.content.menu-main.header2 {
    background: rgba(0, 0, 0, 0.3) !important;
}

.contactform input {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    min-height: 35px;
    text-transform: uppercase;
    font-family: 'Josefin Sans';
    font-weight: 600;
}

.contactform input:focus {
    border-color: #ddd;
    -webkit-box-shadow: 0px 0px 0px;
    -moz-box-shadow: 0px 0px 0px;
    box-shadow: 0px 0px 0px;
}

.ftr-head h5 {
    color: #aaaaaa;
    font-weight: 500;
    font-family: Josefin Sans;
    margin: 0;
    margin-bottom: 6px;
    text-transform: uppercase;
}

.ftr-head h4 {
    color: #aaaaaa;
    font-weight: 500;
    font-family: Josefin Sans;
    margin: 0;
    margin-bottom: 6px;
    text-transform: uppercase;
}

.ftr-head ul li {
    list-style: none;
}

form.form-inline.footer-form input {
    background-color: transparent;
    color: #aaaaaa;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 100%;
    border-color: #353535;
    font-family: Josefin Sans;
}

form.form-inline.footer-form button {
    background: #353535;
    color: #aaaaaa;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    margin-left: -4px;
    border-color: #353535;
    border: 0px;
    padding: 7px 12px;
    font-family: 'Josefin Sans';
    text-shadow: none;
}

form.form-inline.footer-form input:focus {
    border-color: #aaaaaa;
    -webkit-box-shadow: 0px 0px 0px;
    -moz-box-shadow: 0px 0px 0px;
    box-shadow: 0px 0px 0px;
}

form.form-inline.footer-form button:focus {
    border-color: #aaaaaa;
}

form.form-inline.footer-form .form-group {
    width: 80%;
    border-color: #353535;
}

.pull-right.footer-icons i {
    font-size: 24px;
    color: #464646;
}

.footer-icons i.fa.fa-twitter {
    padding-right: 12px;
}

.pull-right.footer-icons i.fa.fa-facebook {
    padding-right: 13px;
    color: #464646;
}

.pull-right.footer-icons {
    padding: 23px 28px 15px 0;
}

.text-footer-link p {
    font-size: 11px;
    text-align: right;
    line-height: 70%;
}

.contactform textarea {
    width: 100%;
    min-height: 105px;
    text-transform: uppercase;
    border-color: #666666;
    padding: 5px 10px;
    font-size: 18px;
    font-family: 'Josefin Sans';
    font-weight: 400;
}

.contactform input {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    min-height: 45px;
    text-transform: uppercase;
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 18px;
    border-color: #666666;
    color: #000;
}

.contactform input:focus {
    border-color: #ddd;
    -webkit-box-shadow: 0px 0px 0px;
    -moz-box-shadow: 0px 0px 0px;
    box-shadow: 0px 0px 0px;
}

.conct-head h1 {
    font-family: 'Josefin Sans';
    text-transform: uppercase;
    font-weight: 100;
}

.contactform {
    padding: 35px 0;
}

.conct-head {
    padding: 13px 0;
}

.send.text-center a {
    border: 1px solid;
    text-decoration: none;
    padding: 14px 100px;
    text-transform: uppercase;
    color: #000;
    font-size: 18px;
    font-family: 'Josefin Sans';
}

.send {
    padding: 50px 0px 28px 0;
}

.contactform textarea:focus {
    outline: 0px;
}

.form-group.text-main input::-webkit-input-placeholder {
    color: #353535 !important;
    font-family: 'josefin sans';
    font-weight: 600;
}

.overviewdwn img {
    width: 100%;
}

.col-md-6.expores1 {
    padding-left: 0px;
}

.col-md-6.expores2 {
    padding-right: 0px;
}

.col-md-6.expores1 img {
    width: 100%
}

.col-md-6.expores2 img {
    width: 100%
}

.explore p {
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
    font-size: 17px;
}

.explore-img {
    min-height: 320px;
}

h3.header-explr {
    font-family: 'Josefin Sans';
    font-weight: 400;
    padding-bottom: 15px;
    padding-top: 10px;
}

.explore-content {
    padding: 0 20px;
}

h3.explore-down {
    font-family: 'Josefin Sans';
    padding-bottom: 50px;
    color: #e30613;
    font-weight: 400;
}

p.explore-plast {
    margin-bottom: 10px;
}

.col-sm-6.amenities-block {
    min-height: 295px;
}

.navbar-collapse.collapse.thin ul li a {
    position: relative;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    /*
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 0.5s ease;
*/
    
    height: 35px;
}

.nav-pills>li>a>half-circle {
    position: relative;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    /*
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
*/
}

.nav-pills>li>a:hover,
.nav-pills>li>a.active {
    color: #fff;
    border-bottom: 1px solid #fff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.nav-pills>li>a.active .half-circle,
.nav-pills>li>a:hover .half-circle {
    height: 10px;
    width: 23px;
    border-radius: 90px 90px 0 0;
    -moz-border-radius: 90px 90px 0 0;
    -webkit-border-radius: 0px 0px 110px 110px;
    background: #e30613;
    position: absolute;
    left: 50%;
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
    transform: translatex(-50%);
    bottom: -11px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 0px !important;
    margin: 0px 10px !important;
}

.main-header2 {
    background: url(../image/homechennai1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 600px;
    position: relative;
}

.homebg-text {
    position: absolute;
    text-align: center;
    width: 100%;
    color: #fff;
    font-family: 'Josefin Sans';
    text-transform: uppercase;
    font-weight: 300;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.homebg-text h2 {
    font-size: 36px;
    letter-spacing: 3px;
}

.row.mrg.home-date {
    position: absolute;
    width: 100%;
    bottom: -51px;
    margin: 0px;
}

.col-md-6.col-sm-6.home-checkin {
    background: #fff;
    padding: 10px 0;
}

.row.mrg.home-date .box {
    margin: 0;
}

.col-md-6.col-sm-6.box-home {
    padding: 0;
}

.col-md-6.col-sm-6.box-home .box {
    background-color: rgba(0, 0, 0, 0.35);
}

.col-md-6.col-sm-6.home-checkin p.date {
    font-weight: 500;
}

.home-welcm {
    padding: 130px 0 60px 0px;
    text-align: center;
    font-family: Josefin Sans Light;
}

.hr-vertical {
    border: 1px solid #000;
    width: 200px;
    margin: 0 auto;
}

.hm-circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #ff0000;
    margin: -30px auto;
}

.home-welcm h1 {
    padding: 50px 0 0 0;
}

.wel-cm {
    width: 60%;
    margin: 0 auto;
}

.wel-cm p {
    font-size: 17px;
    font-weight: 500;
}

img.img-responsive.img-horse {
    width: 100%;
}

.home-midhorse {
    position: relative;
}

.make-contain {
    position: absolute;
    top: 245px;
    width: 100%;
}

.home-mades {
    position: relative;
    min-height: 750px;
}

.wlcm-dsgn h4 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.wlcm-dsgn img {
    margin: 0 auto;
}

.wlcm-dsgn p {
    text-align: justify;
    font-size: 17px;
    line-height: 120%;
    font-weight: 500;
    margin-bottom: 20px;
}

button.explore {
    background: transparent;
    -webkit-box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    border: 2px solid #000;
    color: #000;
    font-weight: 700;
    padding: 2px 10px;
}

.wlcm-dsgn {
    text-align: center;
}

button.explore:focus {
    outline: 0px;
}