body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans', 'Questrial', 'Maven Pro' sans-serif!important;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

.nav-cont {
    padding-top: 20px;
}

.nav-cont a {
    color: #fff;
}

a:hover,
a:focus {
    color: #fff !important;
    text-decoration: none;
}

.login {
    padding-top: 15px;
}

.logo h1 {
    margin-top: 6px;
}

.thin li a {
    font-size: 14px;
}

.logo a h2 {
    margin-top: 10px;
}

.centered-pills {
    text-align: center;
}

.centered-pills ul.nav-pills {
    display: inline-block;
}

.centered-pills li {
    display: inline;
}

.navbar-default {
    background: transparent;
    border: 0px;
    margin-bottom: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

footer.foot-main {
    background: #000;
    padding: 20px 0 5px;
}

.ftr-head h3 {
    padding-bottom: 8px;
    color: #fff;
    padding-top: 25px;
    font-weight: 100;
}

.content.menu-main {
    background: #000;
}

footer.foot-main {
    background: #000;
    padding: 20px 0 5px;
}

.ftr-head h3 {
    padding-bottom: 8px;
    color: #aaaaaa;
    padding-top: 25px;
    font-weight: 100;
}

.ftr-head p {
    color: #aaaaaa;
    font-family: 'Josefin Sans';
}

.ftr-head {
    line-height: 100%;
    font-weight: 400;
}

.foot-main ul>li>a {
    color: #aaaaaa !important;
    line-height: 26px;
    text-decoration: none;
    font-family: 'Josefin Sans';
    font-weight: 500;
}

.text-footer-link p {
    width: 100%;
}

.text-footer-link p a {
    color: #aaaaaa !important;
    text-decoration: none;
    cursor: pointer;
}

.content.menu-main {
    background: #000;
    padding: 35px 0px 35px 0px;
}

.logo {}

header a {
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: 300ms ease all;
    -moz-transition: 300ms ease all;
    -o-transition: 300ms ease all;
    transition: 300ms ease all;
}

.logo img {
    width: 325px;
}

.navbar-default {
    background: transparent !important;
    border: 0px !important;
    margin-bottom: 0px !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none !important;
    background-color: transparent !important;
}

.navbar-collapse.collapse.thin {
    margin-top: 12px;
}

.nav-pills>li>a:hover {
    color: #fff;
}

.centered-pills {
    text-align: center;
    font-family: 'Josefin Sans';
}

.centered-pills ul.nav-pills {
    display: inline-block;
}

.centered-pills li {
    display: inline;
}

.thin li a {
    font-size: 13px;
    cursor: pointer;
    font-weight: 400;
}

.contact-bk img {
    width: 100%;
}

.contact-text {
    position: absolute;
    text-transform: uppercase;
    font-family: 'Josefin Sans';
    color: #fff;
    font-weight: 300;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.contact-text h1 {
    border-bottom: 3px solid;
    padding-bottom: 5px;
    font-size: 40px;
    margin: 0px;
    letter-spacing: 2px;
}

.circle {
    height: 20px;
    width: 40px;
    border-radius: 0px 0px 90px 90px;
    -moz-border-radius: 0px 0px 90px 90px;
    -webkit-border-radius: 0px 0px 90px 90px;
    background: #e30613;
    margin: 0px auto;
}

.mini-circle {
    height: 11px;
    width: 23px;
    border-radius: 0px 0px 90px 90px;
    -moz-border-radius: 0px 0px 90px 90px;
    -webkit-border-radius: 0px 0px 90px 90px;
    background: #e30613;
    position: absolute;
    left: 50%;
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
    transform: translatex(-50%);
    bottom: -19px;
}

.med-circle {
    height: 18px;
    width: 35px;
    border-radius: 0px 0px 90px 90px;
    -moz-border-radius: 0px 0px 90px 90px;
    -webkit-border-radius: 0px 0px 90px 90px;
    background: #e30613;
    margin: -3px auto;
}

.contact-bk {
    position: relative;
}

.contact-add p {
    font-family: 'Josefin Sans';
    font-weight: 700;
    font-size: 15px;
}

.contact-add h4 {
    font-family: 'Josefin Sans';
    font-weight: 700;
    font-size: 16px;
}

.contact-add {
    line-height: 100%;
    margin-top: 60px;
}

.phn-tp {
    padding-top: 18px;
}

.map {
    margin-top: 36px;
}

.pad-tp {
    padding-top: 20px;
}

.row.gallery {
    margin-top: 15px;
}

.row.mar-bt {
    margin-bottom: 80px;
}

.container.footer-menu {
    margin: 30px auto;
}

.overview-cont.text-center p {
    font-size: 17px;
    font-weight: 400;
}

.bath-set span {
    font-family: 'Josefin Sans';
    font-size: 18px;
    border-bottom: 2px solid #000;
    padding-bottom: 8px;
}

.bath-set.text-center {
    margin-bottom: 15px;
    padding: 0px;
    position: relative;
}

.bath-set img {
    padding-bottom: 10px;
}

.ul-list ul {
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
}

.ul-list {
    margin: 45px auto;
}

.margin-tp {
    margin-top: 40px;
}

.cal {
    text-align: center;
}

.cal p {
    text-transform: uppercase;
    font-weight: 400;
    line-height: 100%;
}

p.date {
    font-size: 60px;
}

p.date-bold {
    font-weight: 900;
    font-family: 'Josefin Sans';
    font-size: 13px;
}

.box {
    background-color: #5e5e5e;
    text-align: center;
    padding: 60px 25px 60px 26px;
    margin-top: -17px;
}

.box a {
    color: #fff;
    background-color: #e30613;
    padding: 10px 24px;
    text-decoration: none;
    font-family: 'Josefin Sans';
    font-weight: 700;
}

.row.mrg {
    margin: 80px auto;
}

.box a:hover {
    text-decoration: none;
    color: #fff;
}

.cal img {
    width: 5px;
    position: absolute;
    top: 25px;
    right: -8px;
}

.overview-cont h2 {
    font-family: 'Josefin Sans';
    text-transform: uppercase;
    font-weight: 100;
}

.carousel-inner {
    overflow: hidden;
    max-height: 400px !important;
}

.carousel-inner>.item {
    max-height: 400px !important;
    overflow: hidden;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    line-height: 1;
    width: 100% !important;
    height: auto !important;
}

.carousel-controls {
    position: absolute;
    /*   top: 0; */
    
    bottom: 0;
    right: 0 !important;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    filter: alpha(opacity=50);
    opacity: .5;
}

img.left {
    position: absolute;
    bottom: 9px;
    right: 60px;
    height: 45px;
    width: 45px;
    background-color: black;
    padding: 6px 12px;
}

img.right {
    position: absolute;
    bottom: 9px;
    right: 11px;
    height: 45px;
    width: 45px;
    background-color: black;
    padding: 6px 12px;
}

.carousel-indicators {
    bottom: 20px;
    display: none !important;
}

.mt50 {
    margin-top: 50px;
}

.room-side {
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: block;
    text-align: center;
    /*    margin: 0px 0px 0px 30px;*/
    
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.ati {
    background: url(../image/rooms1.jpg);
    background-repeat-y: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.maya {
    background: url(../image/rooms2.jpg);
    background-repeat-y: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nunya {
    background: url(../image/rooms3.jpg);
    background-repeat-y: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.roop {
    background: url(../image/rooms4.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.col-md-3.padding0,
.col-md-9.padding0 {
    padding: 0;
}

.room-side h1 {
    color: white;
    /* padding-top: 55px;*/
    
    font-weight: lighter;
    font-size: 38px;
}

.wrap-btn {
    padding-top: 30px;
}

.room-side p {
    padding: 0 45px;
    display: -webkit-box;
    height: 97px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.4;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-weight: 500;
    margin-bottom: 20px;
    color: #bcbcbc;
    text-align: justify;
}
/*
.room-side img {
    width: 100%;
    height: 400px;
}
*/

.room2 {
    display: none;
}

.enter-btn {
    background: transparent;
    color: white;
    border: none;
    position: relative;
    border-bottom: 1px solid white;
    font-size: 17px;
    padding: 1px 0;
}

.enter-btn:focus {
    outline: none;
}

.all-btns {
    height: 6px;
    width: 14px;
    border-radius: 0px 0px 110px 110px;
    -moz-border-radius: 0px 0px 110px 110px;
    -webkit-border-radius: 0px 0px 110px 110px;
    background: #e30613;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    margin: 0px auto;
}

p.pad-top {
    margin: 25px auto !important;
}

.acc.text-center span {
    font-weight: 100;
    border-bottom: 2px solid #000;
    font-size: 36px;
}

.bath-room span {
    font-size: 40px;
    font-weight: 400;
}

.ul-lists {
    font-size: 17px;
    margin: 0px 0px 0px -18px;
}

.ul-lists ul li span {
    color: #000;
    font-size: 17px;
    vertical-align: middle;
    text-transform: capitalize;
}

.ul-lists ul li {
    color: #e30613;
    font-size: 12px;
    vertical-align: middle;
}

.inner-img {
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.inner-img img {
    height: 240px;
    width: 100%;
}

.row.galleryin {
    margin: 68px auto;
}

.rowgalleryout {
    margin-top: 40px;
}

.booknow.text-center a {
    color: #fff;
    background-color: #e30613;
    padding: 10px 70px;
    text-decoration: none;
    font-family: 'Josefin Sans';
    font-weight: 700;
    text-transform: uppercase;
}

.row.booknowbt {
    margin-top: 38px;
    margin-bottom: 80px;
}

.box a:hover {
    text-decoration: none;
}

.send.text-center a:hover {
    color: #fff;
    background-color: #000;
    border: #000;
}